body {
  background: url(./assets/background.jfif) no-repeat center center fixed;
  /* background: url(./assets/bg.jpg) no-repeat center center fixed; */
  background-size: cover;
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

/* :root {
  --background: white;
  --foreground: black;
}

[class='dark'] {
  --background: red;
  --foreground: white;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}